<div class="menuGeneral">
    <div class="menuGeneral__titulo">AppNico</div>
</div>
<div class="contenedor">
    <div class="tablaBotones">
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
        <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                aria-hidden="true"></i>Botón</div>
    </div>
</div>