<div class="menuGeneral">
        <div class="menuGeneral__titulo">AppNico</div>
</div>
<div class="contenedor">
        <div class="tablaBotones">
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="dross1()"></i>Dross 1</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="dross2()"></i>Dross 2</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="dross3()"></i>Dross 3</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="kengan1()"></i>Kengan 1</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="kengan2()"></i>Kengan 2</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="kengan3()"></i>Kengan 3</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="kengan4()"></i>Kengan 4</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="kiwi()"></i>Kiwi</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="luigi()"></i>Luigi</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=malamadre()></i>Mala Madre</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=mario1()></i>Mario 1</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=mario2()></i>Mario 2</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="osi()"></i>O si</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)="voldemort1()"></i>Voldemort 1</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=voldemort3()></i>Voldemort 2</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=voldemort4()></i>Voldemort 3</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=zombie1()></i>Zombie 1</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=zombie2()></i>Zombie 2</div>
                <div class="tablaBotones__boton"><i class="fa fa-play-circle tablaBotones__boton--tamanyo"
                                aria-hidden="true" (click)=zombie3()></i>Zombie 3</div>
        </div>
</div>